/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Background halaman */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #1cef89, z#ce1414);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container menu */
.menu-tugas {
    background: rgba(108, 42, 42, 0.15);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

/* Button tugas */
.cta-button {
    text-decoration: none;
    text-align: center;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #010101;
    background: linear-gradient(135deg, #d42d7b, #871073);
    border-radius: 50px;
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

/* Hover efek */
.cta-button:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
    background: linear-gradient(135deg, #0782a1, #2a88db);
}

/* Aktif (saat diklik) */
.cta-button:active {
    transform: scale(0.98);
}
